extends _layout.jade

block content
  section
    h1 Quotations
    if quotations.length
      table.table-pres(cellspacing=0)
        thead
          tr
            th id
            th title
            th customer
            th total
        tbody
          each quotation in quotations
            tr
              td: a(href="/quotation/#{quotation._id}") ##{quotation._id}
              td= quotation.title
              td= quotation.customer
              td € #{quotation.price.total}
    else
      p none (yet)
    a.btn-circular(href="/quotation") +

