extends _layout.jade

block content
  h1
    | Quotations
    a.btn-circular(href="/quotation") +
  if quotations.length
    table.table-pres(cellspacing=0)
      thead
        tr
          th id
          th title
          th customer
          th total
      tbody
        each quotation in quotations
          tr
            td: a(href="/quotation/#{quotation._id}") ##{quotation._id}
            td= quotation.title
            td= quotation.customer
            td € #{quotation.total}
