extends _layout.jade
include ./mixins/_product.jade

block content
  - var id          = quotation ? '#' + quotation._id : '#quot-' + quotationId
  - var submitMsg   = quotation ? 'Update quotation' : 'Create quotation'
  - var formAction  = quotation ? '/quotation/' + quotation._id : '/quotation'
  - var subtotal    = quotation ? quotation.total : total
  h1
    | Invoice&nbsp;
    span.id= id
  form(method="post" action=formAction)
    input(type="hidden", value=quotationId, name="id")
    fieldset
      h2.legend General

      .input
        label.item(for="title") Title
        input.field(
          id="title"
          name="title"
          type="text"
          value=quotation ? quotation.title : null
        )
      .input
        label.item(for="customer") Customer
        input.field(
          id="customer"
          name="customer"
          type="text"
          value=quotation ? quotation.customer : null
        )

    fieldset
      h2.legend Detail
      table.table-form(cellspacing=0)
        thead
          tr
            th Désignation
            th Jours
            th PU HT
            th Taxes
            th Total HT
            th
        tbody.js-products
          if quotation
            each product, i in quotation.products
              +_product(i, product)
          else
            +_product(0, emptyProduct)
        tfoot
          tr
            td(colspan=6)
              |€&nbsp;
              span.js-subtotal= subtotal
      .detail-actions
        button.js-add-product.btn-secondary(type="button") Add a line

    .actions
      button.btn(type="submit")= submitMsg
