extends _layout.jade
include ./mixins/product.jade

block content
  h1
    | Invoice
    &nbsp;
    span.id
      if quotation
        | ##{quotation._id}
      else
        | #quot-#{quotationId}
  form(method="post" action="/quotation")
    input(type="hidden", value=quotationId, name="id")
    fieldset
      h2.legend General

      .input
        label.item(for="title") Title
        input.field(
          id="title"
          name="title"
          type="text"
          value=quotation ? quotation.title : null
        )
      .input
        label.item(for="customer") Customer
        input.field(
          id="customer"
          name="customer"
          type="text"
          value=quotation ? quotation.customer : null
        )

    fieldset
      h2.legend Detail
      table.table-form(cellspacing=0)
        thead
          tr
            th Désignation
            th Jours
            th PU HT
            th Taxes
            th Total HT
        tbody
          +product(0)

        tfoot
          tr
            td(colspan=5) € 0
      .detail-actions
        button.btn-secondary Add a line

    .actions
      button.btn(type="submit") Create quotation
