mixin _product(index, opts)
  - opts = opts || {};

  tr.js-product(id="product-#{index}")
    td: input.js-product-descriptions(
      type="text"
      name="products[#{index}][description]"
      value=opts.description
    )
    td: input.js-product-quantity(
      type="number"
      min="0"
      step="0.25"
      name="products[#{index}][quantity]"
      value=opts.quantity
    )
    td: input.js-product-price(
      type="number"
      min="0"
      step="10"
      name="products[#{index}][price]"
      value=opts.price
    )
    td: input.js-product-tax(
      type="number"
      min="0"
      step="any"
      name="products[#{index}][tax]"
      value=opts.tax
    )
    td.total
      | €&nbsp;
      span.js-product-total 350
    td: button.js-product-remove.btn-circular(type="button") ×
