mixin product(index, opts)
  - opts = opts || {};

  tr(id="product-#{index}")
    td: input(type="text", name="description-#{index}")
    td: input(type="number", name="quantity-#{index}")
    td: input(type="number", name="price-#{index}")
    //- TODO put taxes default in conf
    td: input(type="number", value=0, name="taxes-#{index}")
    td.total xxxxxx €
