mixin product(index, opts)
  - opts = opts || {};

  tr.js-product(id="product-#{index}")
    td: input.js-product-descriptions(
      type="text"
      name="description-#{index}"
    )
    td: input.js-product-quantity(
      type="number"
      name="quantity-#{index}"
      value=1
    )
    td: input.js-product-price(
      type="number"
      name="price-#{index}"
      value=350
    )
    //- TODO put taxes default in conf
    td: input.js-product-tax(
      type="number"
      value=0
      name="taxes-#{index}"
    )
    td.total
      | €&nbsp;
      span.js-product-total 350

