extends ../_layout.jade

block content
  h1 ERROR
  p= reason
  code= description
  hr
  if error
    pre= error
  if stacktrace
    if Array.isArray(stacktrace)
      pre= stacktrace.join('\n')
    else
      code= stacktrace


